.article {
    text-align: left;
}


#Blog ul li{
  color: black;
}


#Blog ul li a{
  color: #003366;
}


#Blog ul li a:hover{
  color: black;
  text-decoration: underline;

}


.BigHorizontalPic{
  height: 450px;
  width: 600px;
}


.BigVerticalPic{
  height: 600px;
  width: 450px;
}


body{
  padding: 70px;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
  background-color: #D9DCD6;
}


.CenterLink{
  text-align:center;
}

.CheapEats{
  font-size: 25px;
}


.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}


.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}


h1{
	text-align: center;
}


h2{
	text-align: center;
}


h2 a{
  color: white;
  text-decoration: underline;
}


h3{
  text-align: center;
}


h4{
  text-align: center;
}


#H4B{
  display: block;
  margin: 0 auto;
}


.header h1{
  margin-top: 20px;
}


.HorizontalPic{
  height: 350px;
  width: 500px;
}


hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


#Me{
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}



@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}


.nav {background:#075B9B;}


.nav ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

   
.nav ul a {
 text-decoration: none;
 color: #D9DCD6;
}


.navbar
{
  margin-bottom: 0;
  font-size: 11px !important;
  letter-spacing: 3px;
  opacity: 1.0;
  border: 1;
  border-color: black;
  border-radius: 0px;
  background-color: #075B9B;
  text-decoration: none;
}


.navbar-default .navbar-toggle
{
  border-color: transparent;
}


.navbar li a, .navbar .navbar-brand
{
  color: #D9DCD6 !important;
}


.navbar-nav li a:hover
{
  color: #003366 !important;
}


.navbar-nav li.active a
{
  color: #fff !important;
  background-color: #29292c !important;
  text-decoration: none;
}


p{
	text-align: center;
  font-size: 15px;
}


p a{
  color: white;
  text-decoration: underline;
}


.VerticalPic{
  height: 500px;
  width: 350px;
}


#Resume{
  font-family:Times;
}


.ResumeCategory{
  font-size:48px;
}


.ResumeItem{
  font-size:24px;
}


.ResumeSecondary{
  font-size:36px;
}